.escola {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(22, 81, 169);
  margin-bottom: 40px;

}

.botao{
  margin-bottom: 40px

}

.botaoFalta{
  display: flex;
  align-items: center;
  justify-content: center;
}

.qtdAlunos{
  margin-bottom: 20px;
  margin-left: 5px;
}



